# Mac metadata files
.DS_Store

# Coverage report directory
htmlcov

# Server files
apache2

# Eclipse files
.project
.pydevproject

#IntelliJ files
.idea

# Compiled python files
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
eggs
parts
var
sdist
develop-eggs
.installed.cfg
__pycache__
venv/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

.pytest_cache

# Other
.cache

# Database
db.sqlite3

# Environment variables file
.env
