{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block body %}
  <div class="container mt-5">
    <div class="row mb-3">
      <h1>Carbon Home Watcher 🏡</h1>
      <p>A tool to monitor the carbon emissions of your home appliances in real time!</p>
    </div>

    <div class="row">
      <div class="col-9">
        <div class="row mb-2">
          <div class="col-10">
            <h4>List of appliances</h4>
          </div>
          <div class="col-2">
            <button 
                type="button"
                class="btn btn-outline-success float-end" 
                hx-get="{% url "appliance-create" %}"
                hx-target="#create-appliance-form">Add new</button>
          </div>
        </div>
        <div class="row" id="appliance-table" 
             hx-get="{% url "appliance-table" %}" 
             hx-trigger="load, newAppliance from:body">
        </div>
      </div>
      <div class="col-3">
        <div id="create-appliance-form"></div>
      </div>
    </div>
  </div>
{% endblock %}
