{% extends "base.html" %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load partials %}

{% block body %}
  <div class="container mt-5">

    <div class="row mb-4">
      <div class="col">
        <h1>Carbon Home Watcher 🏡</h1>
        <p>A tool to monitor the carbon emissions of your home appliances in real time!</p>
        <h5>My carbon emissions:
          <span hx-get="{% url "carbon-emissions" %}"
                hx-indicator="#spinner"
                hx-trigger="applianceAdded from:body, carbonIntensityUpdated from:body">
          </span>
          <img id="spinner" class="htmx-indicator" src="{% static 'img/oval.svg' %}" alt="Loading..."/>
        </h5>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-10">
        <h4>List of appliances</h4>
      </div>
      <div class="col-2">
        <button
            type="button"
            class="btn btn-outline-success float-end"
            hx-get="{% url "appliance-create" %}"
            hx-target="#appliance-form">Add new</button>
      </div>
    </div>

    <div class="row">
      <div class="col-9" id="appliance-table">
        {% partialdef appliance-table inline %}
          {% render_table appliance_table %}
        {% endpartialdef %}
      </div>

      <div class="col-3" id="appliance-form">
        {% partialdef appliance-form %}
          <form hx-post="{% url "appliance-create" %}" hx-target="#appliance-table">
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary float-end">Create</button>
          </form>
        {% endpartialdef %}
      </div>
    </div>

    <div class="row">
      <div class="col-9"
        hx-get="{% url "carbon-intensity" %}"
        hx-trigger="load, every 5s"
        hx-target="find h5"
        hx-swap="afterend">
        <h5>Carbon intensity updates</h5>
        {% partialdef carbon-intensity-alert %}
          <div class="alert alert-{{ alert_level }}" role="alert">
            {% if carbon_intensity %}
              {{ carbon_intensity }} gCO2eq/kWh in zone {{ zone }} at {{ updated_at }} ({{ now_timestamp }})
            {% else %}
              Unable to fetch carbon intensity data
            {% endif %}
          </div>
        {% endpartialdef %}
      </div>
    </div>

  </div>
{% endblock %}
