{% extends "base.html" %}
{% load partials %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block body %}
  <div class="container mt-5">

    <div class="row mb-4">
      <div class="col">
        <h1>Carbon Home Watcher 🏡</h1>
        <p>A tool to monitor the carbon emissions of your home appliances in real time!</p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-10">
        <h4>List of appliances</h4>
      </div>
      <div class="col-2">
        <button
            type="button"
            class="btn btn-outline-success float-end"
            hx-get="{% url "appliance-create" %}"
            hx-target="#appliance-form">Add new</button>
      </div>
    </div>

    <div class="row">
      <div class="col-9"
           hx-get="{% url "appliance-table" %}"
           hx-trigger="load, newAppliance from:body">
        {% partialdef appliance-table %}
          {% render_table appliance_table %}
        {% endpartialdef %}
      </div>

      <div class="col-3" id="appliance-form">
        {% partialdef appliance-form %}
          <form hx-post="{% url "appliance-create" %}">
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary float-end">Create</button>
          </form>
        {% endpartialdef %}

        {% partialdef appliance-created-alert %}
          <div class="alert alert-success" role="alert">
            {{ appliance.name }} created successfully!
          </div>
        {% endpartialdef %}
      </div>
    </div>

  </div>
{% endblock %}
